In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
df = pd.read_csv('DPIC Execution Database - U.S. Executions.csv')
df.head()

,Execution#,Execution Date,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Region,State,...,Number of Latino Male Victims,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of Native American Female Victims,Number of Other Race Female Victims
0,1,01/17/1977,Gary,Gilmore,Mark,NaN,White,Male,West,Utah,...,0,0,0,0,0,0,0,0,0,0
1,2,05/25/1979,John,Spenkelink,NaN,NaN,White,Male,South,Florida,...,0,0,0,0,0,0,0,0,0,0
2,3,10/22/1979,Jesse,Bishop,NaN,NaN,White,Male,West,Nevada,...,0,0,0,0,0,0,0,0,0,0
3,4,03/09/1981,Steven,Judy,NaN,NaN,White,Male,Midwest,Indiana,...,0,0,0,0,2,0,0,0,0,0
4,5,08/10/1982,Frank,Coppola,NaN,NaN,White,Male,South,Virginia,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df = df.drop(df.columns[[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]], axis=1)

In [10]:
df.head()

,Execution#,Execution Date,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Region,State,County,Foreign National,Execution Method,Execution Volunteer,Number of Victims
0,1,01/17/1977,Gary,Gilmore,Mark,NaN,White,Male,West,Utah,Utah County,Not a Foreign National,Firing Squad,Volunteer,1
1,2,05/25/1979,John,Spenkelink,NaN,NaN,White,Male,South,Florida,Leon County,Not a Foreign National,Electrocution,Not a Volunteer,1
2,3,10/22/1979,Jesse,Bishop,NaN,NaN,White,Male,West,Nevada,Clark County,Not a Foreign National,Gas,Volunteer,1
3,4,03/09/1981,Steven,Judy,NaN,NaN,White,Male,Midwest,Indiana,Marion County,Not a Foreign National,Electrocution,Volunteer,4
4,5,08/10/1982,Frank,Coppola,NaN,NaN,White,Male,South,Virginia,Newport News city,Not a Foreign National,Electrocution,Volunteer,1

In [18]:
df['Execution Date'].value_counts().sum()

1500

In [19]:
df['Execution Date'].value_counts().head()

1999-12-09    4
2010-01-07    3
1998-04-22    3
1987-08-28    3
1999-01-13    3
Name: Execution Date, dtype: int64

In [24]:
df['Race'].value_counts()

White              835
Black              513
Latino             127
Native American     16
Asian                7
Other Race           2
Name: Race, dtype: int64

In [62]:
df['Race'].value_counts(normalize=True) * 100

White              55.666667
Black              34.200000
Latino              8.466667
Native American     1.066667
Asian               0.466667
Other Race          0.133333
Name: Race, dtype: float64

In [114]:
df.groupby('State') ['Race'].value_counts().reset_index(name = 'count').head()

     State             Race  count
0  Alabama            White     38
1  Alabama            Black     28
2  Arizona            White     29
3  Arizona           Latino      5
4  Arizona  Native American      2

In [115]:
df['State'].value_counts().head()

Texas       561
Oklahoma    113
Virginia    113
Florida      98
Missouri     88
Name: State, dtype: int64

In [65]:
df['State'].value_counts(normalize=True) * 100

Texas             37.400000
Oklahoma           7.533333
Virginia           7.533333
Florida            6.533333
Missouri           5.866667
Georgia            4.933333
Alabama            4.400000
Ohio               3.733333
South Carolina     2.866667
North Carolina     2.866667
Arizona            2.466667
Arkansas           2.066667
Louisiana          1.866667
Mississippi        1.400000
Indiana            1.333333
Delaware           1.066667
California         0.866667
Nevada             0.800000
Illinois           0.800000
Tennessee          0.666667
Utah               0.466667
Washington         0.333333
Maryland           0.333333
Nebraska           0.266667
South Dakota       0.266667
Idaho              0.200000
Montana            0.200000
Kentucky           0.200000
Pennsylvania       0.200000
Oregon             0.133333
}]                 0.133333
New Mexico         0.066667
Connecticut        0.066667
Colorado           0.066667
Wyoming            0.066667
Name: State, dtype: float64

In [35]:
df['Region'].value_counts()

South        1225
Midwest       184
West           85
Northeast       4
ERROR           2
Name: Region, dtype: int64

In [68]:
df['Region'].value_counts(normalize=True)*100

South        81.666667
Midwest      12.266667
West          5.666667
Northeast     0.266667
ERROR         0.133333
Name: Region, dtype: float64

In [38]:
df[df['Region'] == 'ERROR']

,Execution#,Execution Date,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Region,State,County,Foreign National,Execution Method,Execution Volunteer,Number of Victims
719,720,2001-06-19,Juan,Garza,Raul,NaN,Latino,Male,ERROR,}],State,Not a Foreign National,Lethal Injection,Not a Volunteer,3
836,837,2003-03-18,Louis,Jones,NaN,NaN,Black,Male,ERROR,}],State,Not a Foreign National,Lethal Injection,Not a Volunteer,1

In [40]:
df[df['Last Name'].value_counts().head()].value_counts().head()

Johnson     24
Williams    22
Smith       21
Jones       18
Brown       11
Name: Last Name, dtype: int64

In [41]:
df['First Name'].value_counts().head()

Robert     68
John       62
James      56
Michael    46
David      41
Name: First Name, dtype: int64

In [54]:
df['Foreign National'].value_counts()

Not a Foreign National    1466
Foreign National            34
Name: Foreign National, dtype: int64

In [61]:
df['Foreign National'].value_counts(normalize=True) * 100

Not a Foreign National    97.733333
Foreign National           2.266667
Name: Foreign National, dtype: float64

In [44]:
df['Execution Method'].value_counts()

Lethal Injection    1323
Electrocution        160
Gas                   11
Firing Squad           3
Hanging                3
Name: Execution Method, dtype: int64

In [71]:
df['Execution Method'].value_counts(normalize=True) * 100

Lethal Injection    88.200000
Electrocution       10.666667
Gas                  0.733333
Firing Squad         0.200000
Hanging              0.200000
Name: Execution Method, dtype: float64

In [47]:
df.groupby('State') ['Execution Method'].value_counts().head()

State     Execution Method
Alabama   Lethal Injection    42
          Electrocution       24
Arizona   Lethal Injection    35
          Gas                  2
Arkansas  Lethal Injection    30
Name: Execution Method, dtype: int64

In [73]:
df.groupby('State') ['Execution Method'].value_counts(normalize=True) * 100

State           Execution Method
Alabama         Lethal Injection     63.636364
                Electrocution        36.363636
Arizona         Lethal Injection     94.594595
                Gas                   5.405405
Arkansas        Lethal Injection     96.774194
                Electrocution         3.225806
California      Lethal Injection     84.615385
                Gas                  15.384615
Colorado        Lethal Injection    100.000000
Connecticut     Lethal Injection    100.000000
Delaware        Lethal Injection     93.750000
                Hanging               6.250000
Florida         Lethal Injection     55.102041
                Electrocution        44.897959
Georgia         Lethal Injection     68.918919
                Electrocution        31.081081
Idaho           Lethal Injection    100.000000
Illinois        Lethal Injection    100.000000
Indiana         Lethal Injection     85.000000
                Electrocution        15.000000
Kentucky        Lethal Injection     66.666667
                Electrocution        33.333333
Louisiana       Electrocution        71.428571
                Lethal Injection     28.571429
Maryland        Lethal Injection    100.000000
Mississippi     Lethal Injection     80.952381
                Gas                  19.047619
Missouri        Lethal Injection    100.000000
Montana         Lethal Injection    100.000000
Nebraska        Electrocution        75.000000
                Lethal Injection     25.000000
Nevada          Lethal Injection     91.666667
                Gas                   8.333333
New Mexico      Lethal Injection    100.000000
North Carolina  Lethal Injection     95.348837
                Gas                   4.651163
Ohio            Lethal Injection    100.000000
Oklahoma        Lethal Injection    100.000000
Oregon          Lethal Injection    100.000000
Pennsylvania    Lethal Injection    100.000000
South Carolina  Lethal Injection     83.720930
                Electrocution        16.279070
South Dakota    Lethal Injection    100.000000
Tennessee       Lethal Injection     70.000000
                Electrocution        30.000000
Texas           Lethal Injection    100.000000
Utah            Lethal Injection     57.142857
                Firing Squad         42.857143
Virginia        Lethal Injection     72.566372
                Electrocution        27.433628
Washington      Lethal Injection     60.000000
                Hanging              40.000000
Wyoming         Lethal Injection    100.000000
}]              Lethal Injection    100.000000
Name: Execution Method, dtype: float64

In [79]:
(df['Sex'].value_counts()/df['Sex'].count())*100

Male      98.933333
Female     1.066667
Name: Sex, dtype: float64

In [49]:
df['Execution Volunteer'].value_counts()

Not a Volunteer    1350
Volunteer           150
Name: Execution Volunteer, dtype: int64

In [80]:
df['Execution Volunteer'].value_counts(normalize=True) * 100

Not a Volunteer    90.0
Volunteer          10.0
Name: Execution Volunteer, dtype: float64

In [118]:
df['County'].value_counts().head()

Harris County      129
Dallas County       61
Bexar County        45
Oklahoma County     42
Tarrant County      41
Name: County, dtype: int64

In [117]:
df['County'].value_counts(normalize=True) * 100

Harris County            8.600000
Dallas County            4.066667
Bexar County             3.000000
Oklahoma County          2.800000
Tarrant County           2.733333
Jefferson County         2.333333
Montgomery County        1.733333
St. Louis County         1.266667
Tulsa County             1.133333
Jackson County           0.933333
Nueces County            0.866667
Pima County              0.866667
Smith County             0.866667
Miami-Dade County        0.866667
Hamilton County          0.800000
St. Louis city           0.800000
Orange County            0.800000
Brazos County            0.800000
Lubbock County           0.733333
Potter County            0.733333
Marion County            0.733333
Maricopa County          0.733333
Madison County           0.666667
Mobile County            0.666667
Cuyahoga County          0.600000
Clark County             0.600000
Prince William County    0.600000
New Castle County        0.600000
McLennan County          0.600000
Virginia Beach city      0.533333
                           ...
Creek County             0.066667
Staunton city            0.066667
Sussex County            0.066667
Dauphin County           0.066667
Ada County               0.066667
San Patricio County      0.066667
Allen County             0.066667
Iron County              0.066667
Coal County              0.066667
Brown County             0.066667
Baltimore city           0.066667
Morris County            0.066667
Ottawa County            0.066667
Bartow County            0.066667
Berrien County           0.066667
San Francisco County     0.066667
Hutchinson County        0.066667
Edgecombe County         0.066667
Dawson County            0.066667
Iberia Parish            0.066667
Nevada County            0.066667
Philadelphia County      0.066667
Conway County            0.066667
Charles City County      0.066667
Livingston Parish        0.066667
Lafourche Parish         0.066667
Glades County            0.066667
Van Buren County         0.066667
San Mateo County         0.066667
Cumberland County        0.066667
Name: County, Length: 410, dtype: float64

In [123]:
df.groupby([df.Region, df.State, df.County]) ['Race'].value_counts().sort_values(ascending=False).reset_index(name = 'Count').head(16)

     Region     State             County    Race  Count
0     South     Texas      Harris County   Black     69
1     South     Texas      Harris County   White     42
2     South     Texas      Dallas County   Black     26
3     South     Texas       Bexar County  Latino     23
4     South     Texas      Dallas County   White     21
5     South  Oklahoma    Oklahoma County   White     20
6     South     Texas     Tarrant County   White     19
7     South     Texas       Bexar County   Black     17
8     South  Oklahoma    Oklahoma County   Black     17
9     South     Texas     Tarrant County   Black     17
10    South     Texas      Harris County  Latino     16
11    South     Texas  Montgomery County   White     14
12    South     Texas      Dallas County  Latino     12
13     West   Arizona        Pima County   White     12
14  Midwest  Missouri   St. Louis County   Black     11
15  Midwest  Missouri     St. Louis city   Black     10

In [101]:
df[df['County'] == 'Harris County'].groupby('State').Race.value_counts()

State  Race
Texas  Black              69
       White              42
       Latino             16
       Asian               1
       Native American     1
Name: Race, dtype: int64

In [102]:
df[df['County'] == 'Dallas County'].groupby('State').Race.value_counts()

State    Race
Alabama  Black               1
Texas    Black              26
         White              21
         Latino             12
         Native American     1
Name: Race, dtype: int64

In [104]:
df[df['County'] == 'Bexar County'].groupby('State').Race.value_counts()

State  Race
Texas  Latino    23
       Black     17
       White      5
Name: Race, dtype: int64

In [105]:
df[df['County'] == 'Oklahoma County'].groupby('State').Race.value_counts()

State     Race
Oklahoma  White              20
          Black              17
          Native American     2
          Asian               1
          Latino              1
          Other Race          1
Name: Race, dtype: int64

In [124]:
df[df['County'] == 'Tarrant County'].groupby('State').Race.value_counts()

State  Race
Texas  White     19
       Black     17
       Latino     5
Name: Race, dtype: int64